/* Theme Styles */
.rmlEditor {
  height: 100%;
  width: 100%;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;

  * {
    box-sizing: border-box;
  }
}

.rmlEditorDark {
  composes: rmlEditor;
  color-scheme: dark;

  --header-icon-color: rgb(227, 230, 234);
  --secondary-icon-color: rgb(84, 88, 93);
  --primary-icon-color: rgb(142, 146, 150);

  --primary-text-color: rgb(215, 218, 224);
  --secondary-text-color: #abb2bf;
  --tertiary-text-color: rgba(215, 218, 224, 0.5);
  --quaternary-text-color: rgba(215, 218, 224, 0.25);
  --button-selected-text-color: rgb(62, 154, 255);

  --header-background-color: rgb(33, 37, 43);
  --header-border-color: rgb(28, 30, 36);

  --main-background-color: rgb(40, 44, 52);
  --side-panel-background-color: rgb(33, 37, 43);

  --explorer-item-selected-color: #2c313a;
  --explorer-item-hover-color: rgba(44, 49, 58, 0.4);

  --button-selected-color: rgba(53, 72, 119, 0.5);
  --button-hover-color: #333842;

  --warning-background-color: rgba(255, 0, 0, 0.15);
  --warning-text-color: #ff1818;

  --dropdown-background-color: rgb(53, 59, 69);
  --dropdown-border-color: rgb(54, 57, 65);
  --dropdown-button-color: rgb(41, 43, 50);

  --cta-button-color: #ff88fd;

  --context-menu-border-color: rgba(153, 200, 255);
}

.rmlEditorLight {
  composes: rmlEditor;

  --header-icon-color: #24292f;
  --secondary-icon-color: rgb(177, 184, 190);
  --primary-icon-color: rgb(108, 113, 118);

  --primary-text-color: #24292f;
  --secondary-text-color: rgb(57, 59, 63);
  --tertiary-text-color: rgba(61, 67, 74, 0.5);
  --quaternary-text-color: rgba(87, 96, 106, 0.5);
  --button-selected-text-color: rgb(62, 154, 255);

  --header-background-color: rgb(246, 248, 250);
  --header-border-color: hsl(210, 18%, 84%);

  --main-background-color: rgb(255, 255, 255);
  --side-panel-background-color: rgb(246, 248, 250);

  --explorer-item-selected-color: rgba(175, 184, 193, 0.2);
  --explorer-item-hover-color: rgba(234, 238, 242, 0.5);

  --button-selected-color: rgb(217, 229, 251);
  --button-hover-color: rgb(175 184 193 / 20%);

  --warning-background-color: rgba(255, 0, 0, 0.15);
  --warning-text-color: #ff1818;

  --dropdown-background-color: rgb(255, 255, 255);
  --dropdown-border-color: hsl(215, 19%, 88%);
  --dropdown-button-color: rgb(244, 244, 245);

  --cta-button-color: #ff88fd;

  --context-menu-border-color: rgba(0, 94, 204);
}

.centered {
  display: flex;
  align-items: center;
}

.centeredBothDirections {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  composes: centered;
  padding: 0 10px;
  height: 42px;
  border-bottom: 1px solid var(--header-border-color);
  background-color: var(--header-background-color);
}

.logo {
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-text-color);
  flex: 1;
}

.body {
  background-color: var(--main-background-color);
  flex: 1;
}

.draggableViewContainer {
  position: relative;
}

.draggableViewSection .draggableViewContainer {
  height: 100%;
  width: 100%;
}

.draggableViewSection .dragHandle {
  z-index: 3;
}

.draggableViewSection::after {
  z-index: 2;
  content: "";
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.draggableViewSection .dragHandle,
.draggableViewSection::after {
  position: absolute;
  background-color: transparent;
}

.draggableViewSection.dragHandleLongHover::after,
.draggableViewSection.dragging::after {
  background-color: var(--context-menu-border-color);
}

.draggableViewContainer.vertical {
  .draggableViewSection > .dragHandle,
  .draggableViewSection.drag-handle-long-hover::after,
  .draggableViewSection.dragging::after {
    width: 100%;
    bottom: -3px;
    height: 6px;
    left: 0;
    cursor: row-resize;
  }
}

.draggableViewContainer:not(.vertical) {
  .draggableViewSection > .dragHandle,
  .draggableViewSection.dragHandleLongHover::after,
  .draggableViewSection.dragging::after {
    height: 100%;
    right: -3px;
    width: 6px;
    top: 0;
    cursor: col-resize;
  }
}

.panel {
  background-color: var(--side-panel-background-color);
  height: 100%;
}

.stretch {
  flex: 1;
}

.inputPanel {
  composes: panel;
  border-right: 1px solid var(--header-border-color);
  display: flex;
  flex-direction: column;
}

.outputPanel {
  display: flex;
  flex-direction: column;
  composes: panel;
  border-left: 1px solid var(--header-border-color);
}

.themeToggle {
  composes: centered;
  background: none;
  border: none;
  outline: none;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  justify-content: center;
  margin-left: 15px;
}

.themeToggle:hover {
  background-color: var(--button-hover-color);
}

.themeToggle svg {
  height: 16px;
  width: 16px;
  fill: var(--header-icon-color);
  stroke: var(--header-icon-color);
}

.mappingEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panelHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 6px;
  border-bottom: 1px solid var(--header-border-color);
}

.panelHeaderButton {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 5px;
  color: var(--secondary-text-color);
  font-size: 13px;
  margin-right: 2px;
  height: 22px;
}

.iconPanelHeaderButton {
  padding: 0;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panelHeaderButton:hover {
  background-color: var(--button-hover-color);
}

.panelHeaderButtonSelected {
  background-color: var(--button-selected-color) !important;
  color: var(--button-selected-text-color) !important;
}

.panelHeaderButton svg {
  fill: var(--primary-icon-color);
  width: 14px;
  height: 14px;
}

.mappingError {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  font-size: 13px;
  color: var(--warning-text-color);
  border-top: 1px solid var(--header-border-color);
}

.inputSourceName {
  composes: stretch;
  color: var(--secondary-text-color);
  font-size: 13px;
  margin-left: 4px;
}

.mappingEditorCodeView {
  composes: stretch;
  overflow: auto;
}

.inputItemsList {
  composes: stretch;
  overflow: auto;
  padding: 8px;
}

.inputItem {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: var(--secondary-text-color);
}

.inputItem:hover {
  background-color: var(--explorer-item-hover-color);
}

.inputItem.Selected {
  background-color: var(--explorer-item-selected-color);
  color: var(--primary-text-color);
}

.backArrow {
  transform: rotate(90deg);
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.modalCard {
  padding: 0;
  box-shadow: 0rem 0.25rem 1rem 0rem #00000056;
  border-radius: 9px;
  position: relative;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  border: 1px solid var(--dropdown-border-color);
}

.modalHeader,
.modalFooter {
  padding: 20px 20px 15px 20px;
  display: flex;
  align-items: center;
}

.modalHeader .closeButton {
  height: 30px;
  width: 30px;
  min-width: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalHeader .closeButton:hover {
  background-color: var(--button-hover-color);
}

.modalHeader .closeButton .closeIcon {
  fill: var(--primary-icon-color);
}

.modalHeaderText {
  flex: 1;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.newInputModal .modalCard {
  width: 500px;
  max-width: 100%;
  padding-bottom: 20px;
}

.newInputModalBody {
  padding: 0 20px;
}

.newInputModalBody p {
  margin-top: 0;
  color: var(--tertiary-text-color);
  font-size: 13px;
}

.newInputTypeButton {
  padding: 10px 30px;
  border-radius: 10px;
  margin: 5px 10px 0 0;
  background-color: var(--dropdown-background-color);
  border: 1px solid var(--dropdown-border-color);
  outline: none;
  cursor: pointer;
  color: var(--secondary-text-color);
  font-size: 15px;
  font-weight: 600;

  &:hover {
    background-color: var(--button-selected-color);
    color: var(--button-selected-text-color);
  }
}

.functionsListHeader {
  color: var(--button-selected-text-color);
  padding: 8px 12px;
}
