/* Theme Styles */
.RML-Editor.dark {
  color-scheme: dark;
  
  --header-icon-color: rgb(227, 230, 234);
  --secondary-icon-color: rgb(84, 88, 93);
  --primary-icon-color: rgb(142, 146, 150);
  
  --primary-text-color: rgb(215, 218, 224);
  --secondary-text-color: #abb2bf;
  --tertiary-text-color: rgba(215, 218, 224, 0.5);
  --quaternary-text-color: rgba(215, 218, 224, 0.25);

  --header-background-color: rgb(33, 37, 43);
  --header-border-color: rgb(28, 30, 36);

  --main-background-color: rgb(40, 44, 52);
  --side-panel-background-color: rgb(33, 37, 43);

  --explorer-item-selected-color: #2c313a;
  --explorer-item-hover-color: rgba(44, 49, 58, 0.4);

  --button-hover-color: #333842;

  --warning-background-color: rgba(255, 0, 0, 0.15);
  --warning-text-color: #ff1818;

  --dropdown-background-color: rgb(53, 59, 69);
  --dropdown-border-color: rgb(54, 57, 65);
  --dropdown-button-color: rgb(41, 43, 50);

  --cta-button-color: #ff88fd;

  --context-menu-border-color: rgba(153, 200, 255);
}

.RML-Editor.light {
  --header-icon-color: #24292f;
  --secondary-icon-color: rgb(177, 184, 190);
  --primary-icon-color: rgb(108, 113, 118);

  --primary-text-color: #24292f;
  --secondary-text-color: rgb(57, 59, 63);
  --tertiary-text-color: rgba(61, 67, 74, 0.5);
  --quaternary-text-color: rgba(87, 96, 106, 0.5);

  --header-background-color: rgb(246, 248, 250);
  --header-border-color: hsl(210, 18%, 84%);

  --main-background-color: rgb(255, 255, 255);
  --side-panel-background-color: rgb(246, 248, 250);

  --explorer-item-selected-color: rgba(175, 184, 193, 0.2);
  --explorer-item-hover-color: rgba(234, 238, 242, 0.5);

  --button-hover-color: rgb(175 184 193 / 20%);

  --warning-background-color: rgba(255, 0, 0, 0.15);
  --warning-text-color: #ff1818;

  --dropdown-background-color: rgb(255, 255, 255);
  --dropdown-border-color: hsl(215, 19%, 88%);
  --dropdown-button-color: rgb(244, 244, 245);

  --cta-button-color: #ff88fd;

  --context-menu-border-color: rgba(0, 94, 204);
}

.RML-Editor {
  height: 100%;
  width: 100%;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;

  .RML-Editor-Centered {
    display: flex;
    align-items: center;
  }

  .RML-Editor-Header {
    padding: 0 10px;
    height: 42px;
    border-bottom: 1px solid var(--header-border-color);
    background-color: var(--header-background-color);
  }

  .RML-Editor-Logo {
    font-size: 15px;
    font-weight: 600;
    color: var(--primary-text-color);
    flex: 1;
  }

  .RML-Editor-Body {
    background-color: var(--main-background-color);
    flex: 1;
  }

  .Draggable-View-Container {
    position: relative;
  }
  
  .Draggable-View-Section .Draggable-View-Container {
    height: 100%;
    width: 100%;
  }
  
  .Draggable-View-Section .Drag-Handle {
    z-index: 3;
  }
  
  .Draggable-View-Section::after {
    z-index: 2;
    content: '';
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  
  .Draggable-View-Section .Drag-Handle, 
  .Draggable-View-Section::after {
    position: absolute;
    background-color: transparent;
  }
  
  .Draggable-View-Section.drag-handle-long-hover::after, 
  .Draggable-View-Section.dragging::after {
    background-color: var(--context-menu-border-color);
  }
  
  .Draggable-View-Container.vertical {
    .Draggable-View-Section > .Drag-Handle,
    .Draggable-View-Section.drag-handle-long-hover::after,
    .Draggable-View-Section.dragging::after {
      width: 100%;
      bottom: -3px;
      height: 6px;
      left: 0;
      cursor: row-resize;
    }
  }
  
  .Draggable-View-Container:not(.vertical) {
    .Draggable-View-Section > .Drag-Handle,
    .Draggable-View-Section.drag-handle-long-hover::after, 
    .Draggable-View-Section.dragging::after {
      height: 100%;
      right: -3px;
      width: 6px;
      top: 0;
      cursor: col-resize;
    }
  }

  .RML-Editor-Panel {
    background-color: var(--side-panel-background-color);
    height:100%;
  }

  .RML-Editor-Input-Panel {
    border-right: 1px solid var(--header-border-color);
  }

  .RML-Editor-Output-Panel {
    border-left: 1px solid var(--header-border-color);
  }

  .RML-Editor-Theme-Toggle {
    background: none;
    border: none;
    outline: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 15px;
  }
  
  .RML-Editor-Theme-Toggle:hover {
    background-color: var(--button-hover-color);
  }
  
  .RML-Editor-Theme-Toggle svg {
    height: 16px;
    width: 16px;
    fill: var(--header-icon-color);
    stroke: var(--header-icon-color);
  }

  .RML-Editor-Mapping-Editor {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .RML-Editor-Panel-Header {
    display: flex;
    align-items: center;
  }

  .RML-Editor-Mapping-Editor-Code-View {
    flex: 1;
    overflow: auto;
  }
}